*{
    margin:0;
    padding:0;
}
button{
    width:100px;
    height:50px;
}
.jsq{
    height:500px;
    background-color:green;
}

.jsq > .screen{
    height:30%;
    background-color:white;
}

.jsq > .number{
    margin-right:25px;
}